@{
    ViewData["Title"] = "Contato";
}
<h3>@ViewData["Message"]</h3>

<address>
    Felipe Almeida Lima<br />
    <abbr title="Telefone">Telefone:</abbr>
    (11)97368-299
</address>

<address>
    <strong>E-mail:</strong> <a href="felipe.almeida45@gmail.com">felipe.almeida45@gmail.com</a><br />
</address>
