@using TesteFe.Models.ViewModels

@model EstacionamentoCartoesViewModel

@{
    ViewData["Title"] = "Pagina Inicial";
}
<h1><center><font color="red"><font size="42">Estacione -  Fácil</font></font></center></h1>